<!DOCTYPE html>
<html>
  <head>
    <title>Eloreapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <div class="content-wrapper">
        <%= yield %>
      </div>
    </div>

    <script>
      feather.replace()
    </script>
  </body>
</html>
